@import 'common.css';

body{
    background-image: url("../img/background.jpg");
}

.container{
    border-radius: 15px;
    max-width: 1400px;
    margin: 0 auto;
    background-color: white;
    padding: 0 50px 10px 50px;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 100%;
    min-height: 920px;
}

.nav-link {
margin-bottom: 30px;
justify-content: flex-start;
}
.nav-link a{
    font-size: 15px;
    border: 2px solid lightgray;
    padding: 10px;
}

.logo{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo .logo-img{
    display: flex;
    justify-content: center;
}

.logo h1{
    color: rgb(51, 51, 51);
    font-size: 30px;
    margin-bottom: 7px;
}

.logo p{
    text-transform: uppercase;
    color: rgb(95, 95, 95);
}

.hero form h3{
    font-size: 25px;
}


input{
    display: block;
    width: 100%;
    height: 40px;
    border: 2px solid lightgray;
}

label{
    font-weight: bold;
    font-size: 17px;
}

button{
    display: block;
    background: transparent;
    border: 1px solid black;
    font-weight: bold;
    padding: 9px 17px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.logo .logo-img img{
    object-fit: contain;
    max-width: 15%;

}

.group-title{
    text-align: center;
}
.group-title .group-name{
    font-size: 35px;
    color: rgb(190, 0, 0);
}

.group-title h3{
    font-size: 25px;
    margin-top: -25px;
}

.bill-table{
    border-collapse: collapse;
    width: 80%;
    text-align: left;
}

.bill-table th,td{
    padding: 20px;
}

.bill-table tbody tr:nth-child(odd){
    background-color: rgb(235, 235, 235);
}

.bill_form{
    width: 40%;
    margin-bottom: 70px;
}