*{
    box-sizing: border-box;
}

.error-msg {
    color: tomato;
    margin-top: 0;
  }
  .invalid-input {
    border: 1px solid rgb(255, 104, 77);
    background-color: rgb(255, 207, 199);
  }

  .success-msg{
    color: green;
    margin-top: 0;
  }

  img{
      width: 100%;
  }

  a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover{
  text-decoration: underline;
}

footer{
  text-align: center;
  font-weight: bold;
  margin-top: -10px;
}